* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div {
    height: 100%;
    margin: 0;
    font-family: 'notokr';
    color: #555E63;
    line-height: 1.4;
}

div {
    display: block;
}

body {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

#wrap {
    width: 100%;
}

#header {
    background-image: url(/image/main.png);
    background-position: center 35%;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}

#header h1 {
    color: #000;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    padding: 50px 0;
}

.sign {
    position: absolute;
    top: 15px;
    right: 50px;
}

.sign a {
    display: inline-block;
    height: 12px;
    line-height: 11px;
    padding: 0 12px;
    border-right: 1px solid #ddd;
    color: #666;
}

.sign a:last-child {
    border-right: 0;
}

#containerwrap {
    width: 100%;
    text-align: center;
}

#container {
    z-index: 4;
    position: relative;
    margin: 20px auto;
    width: 98%;
    min-height: 500px;
    height: auto !important;
    height: 500px;
    background: #fff;
    font-size: 1em;
    zoom: 1;
}

#containerwrap #container {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    overflow: hidden;
}

/* Sidebar */
#containerwrap #container #sidebar_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.list {
    margin: 40px 0 0 0;
    width: 200px;
    height: 100%;
}

.list a {
    display: block;
    width: 200px;
    height: 42px;
    font-size: 14px;
    /* padding: 12px 3px; */
    padding-left: 15px;
    line-height: 42px;
    border-bottom: 1px solid #e5e5e5;
    color: #666;
    font-weight: 600;
}

.list a:last-child {
    border-bottom: 0;
}

.list a:hover,
.list a:focus {
    color: #8c64cc;
}

#content {
    margin: 0;
    margin-left: 230px;
    padding: 40px 20px 20px 20px;

}

/* 전체 style.css로 이동함. 전체 지워도 될 듯 */