/* :root {
    --gap: 20px;
} */



/* .sidebar {
    background-color: #ddd;
    padding: var(--gap);
    display: flex;
    gap: var(--gap);
    min-height: 400px;
    flex-direction: row;
}


.box-sidebar {
    width: 140px;
    /* 자동으로 너비가 축소되지 않도록 
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: var(--gap);
} */

/* Basic Layout Stuff */

html,
body,
div {
    height: 100%;
    margin: 0;
    font-family: 'notokr';
    color: #555E63;
    line-height: 1.4;
}

div {
    display: block;
}

body {
    font-size: 12px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* #wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    min-height: 100%;
} */

#headerwap {
    background-image: url(/image/main.png);
    background-position: center 35%;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}

#headerwap #header {
    max-width: 1200px;
    height: 130px;
    margin: 0 auto;
    text-align: left;
}

#headerwap #header a {
    color: #000;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    padding: auto;
}

.posts {
    width: calc(100% - 280px);
}

.box-sidebar {
    width: 280px;
    padding: 25px 40px;
    box-sizing: border-box;
    background: #F3F2EE;
}


/* Sidebar Links */

.bpx-sidebar a {
    display: block;
    color: #0b2831;
    text-decoration: none;
    padding: 5px 0;
    margin: 10px 0;
    line-height: 1;
}

.box-sidebar a:hover,
.box-sidebar a:focus {
    color: #1377BF;
}

.box-sidebar a:hover:after,
.box-sidebar a:focus:after {
    content: '\02192';
    margin-left: 15px;
}

.box-sidebar a.current {
    color: #DC366E;
    font-weight: bold;
}

.box-sidebar a.current:after {
    content: '\02192';
    margin-left: 15px;
}