* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    /*정확한 수치로 정하기 위해 사용*/
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background-color: #000;
    color: #fff;
}